.btn{
    display: inline-block;
    text-align: center;
    padding: 0.25em 0.75em;
    font-size: 1em;
    border-radius: 0.25em;
    text-decoration: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.btn:hover{
    cursor: pointer;
}

.primary-btn{
    color: #fff;
    background-color: var(--primary-color);
}

.primary-btn:hover{
    color: #fff;
    background-color: var(--primary-color-darker);
}

.secondary-btn{
    color: #fff;
    background-color: var(--secondary-color);
}

.secondary-btn:hover{
    color: #fff;
    background-color: var(--secondary-color-darker);
}

.success-btn{
    color: #fff;
    background-color: var(--success-color);
}

.success-btn:hover{
    color: #fff;
    background-color: var(--success-color-darker);
}

.info-btn{
    color: #fff;
    background-color: var(--info-color);
}

.info-btn:hover{
    color: #fff;
    background-color: var(--info-color-darker);
}

.warning-btn{
    color: #222;
    background-color: var(--warning-color);
}

.warning-btn:hover{
    color: #222;
    background-color: var(--warning-color-darker);
}

.danger-btn{
    color: #fff;
    background-color: var(--danger-color);
}

.danger-btn:hover{
    color: #fff;
    background-color: var(--danger-color-darker);
}

.light-btn{
    color: #222;
    background-color: var(--light-color);
}

.light-btn:hover{
    color: #222;
    background-color: var(--light-color-darker);
}

.dark-btn{
    color: #fff;
    background-color: var(--dark-color);
}

.dark-btn:hover{
    color: #fff;
    background-color: var(--dark-color-darker);
}

.table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.table th, td{
    padding: 0.5em;
    border-top: 1px solid var(--border-color);
}

.primary-table{
    color: #fff;
    background-color: var(--primary-color-lighter);
}

.primary-table th{
    background-color: var(--primary-color-darker);
}

.secondary-table{
    background-color: var(--secondary-color-lighter);
}

.secondary-table th{
    background-color: var(--secondary-color-darker);
}

.success-table{
    color: #fff;
    background-color: var(--success-color-lighter);
}

.success-table th{
    background-color: var(--success-color-darker);
}

.info-table{
    background-color: var(--info-color-lighter);
}

.info-table th{
    background-color: var(--info-color-darker);
}

.warning-table{
    background-color: var(--warning-color-lighter);
}

.warning-table th{
    background-color: var(--warning-color-darker);
}

.danger-table{
    background-color: var(--danger-color-lighter);
}

.danger-table th{
    background-color: var(--danger-color-darker);
}

.light-table{
    background-color: var(--light-color);
}

.light-table th{
    background-color: var(--light-color-darker);
}

.dark-table{
    color: #fff;
    background-color: var(--dark-color);
}

.dark-table th{
    color: #fff;
    background-color: var(--dark-color-darker);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(58, 58, 58, 0.411);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal::-webkit-scrollbar{
    display: none;
}

.modal-content{
    position: relative;
    margin: 1em auto;
    max-width: 500px;
    background-color: white;
    border-radius: 0.25em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}

.modal-header{
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.modal-body{
    padding: 1em;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--border-color);
}

.modal-footer{
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}

.modal-footer > *{
    margin: 0.25;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.navbar-brand{
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: var(--light-color);
    font-weight: 600;
    font-size: 1.25em;
}

.navbar-nav{
    display: flex;
    margin: 0;
    padding: 1em;
}

.navbar-nav > .nav-item{
    list-style: none;
}

.nav-link{
    display: block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: var(--dark-color);
}

.nav-link:hover{
    background-color: var(--light-color-darker);
    /* color: var(--light-color); */
}

.dropdown-menu{
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid var(--border-color);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.dropdown-menu .dropdown-item{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--dark-color);
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--light-color);
}

.show{
    display: block;
}