*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    margin: 0;
}

:root{
    --primary-color: #cc3f0c;
    --secondary-color: #1a2d64;
    --success-color: #198754;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --border-color: rgb(228, 228, 228);

    --primary-color-darker: #922e09;
    --secondary-color-darker: #0b132b;
    --success-color-darker: #115837;
    --info-color-darker: #127d8d;
    --warning-color-darker: #c7980b;
    --danger-color-darker: #af2835;
    --light-color-darker: #c9caca;
    --dark-color-darker: #191c1f;
    --border-color-darker: #dee2e6;

    --primary-color-lighter: #f14c0f;
    --secondary-color-lighter: #2d4eb3;
    --success-color-lighter: #568f74;
    --info-color-lighter: #70b3bd;
    --warning-color-lighter: #ffe28a;
    --danger-color-lighter: #df7e87;

    --container-padding: 1em;
}