*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    margin: 0;
}

:root{
    --primary-color: #0d6efd;
    --secondary-color: #adb5bd;
    --success-color: #198754;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --border-color: rgb(228, 228, 228);
}